@page "/search"

<PageTitle>Search Flows</PageTitle>

<h1>Search Flows</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        
            @foreach (var item in DataStore.Flows)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Date.ToString()</td>
                    <td>@item.Amount.ToString()</td>
                </tr>
            }

    </tbody>
</table>
